@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.mid-grad {
  position: absolute;
  left: 50%;
  top: 30px;
  transform: translate(-50%, -50%);
}

.mid{
  transform: translate(-50%, -50%);
  left: 50%;
  bottom: 25%
}


nav span {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  line-height: 62px;
}

nav button {
  border-color: linear-gradient(92.7deg, #5404FF 7.9%, #BA2AD1 88.1%); 
}

.ball {
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}

.grad1 {  
  width: 100px;
  height: 100px;
  left: 2%;
  top: 220px;
  box-shadow: inset 2px 4px 100px #001D6E;
}

.grad2{
  width: 250px;
  height: 250px;
  right: -7%;
  top: 400px;
  box-shadow: inset 4px 8px 200px #001D6E;
  filter: blur(15px);
}

.grad3{
  width: 50px;
  height: 50px;
  left: 70%;
  top: 50px;
}

.star1{
  width: 24px;
  left: 16%;
  top: 150px;
}

.star2{
  width: 36px;
  right: 9%;
  top: 300px;
}

.star3{
  width: 48px;
  left: 10%;
  top: 700px;
}

.star4{
  width: 36px;
  right: 55%;
  top: 950px;
}

.star5{
  width: 24px;
  right: 13%;
  bottom: 150px;
}

.star6{
  width: 36px;
  bottom:200px;
}

@media screen and (max-width: 770px) {
.grad1 {  
  width: 60px;
  height: 60px;
  left: -3%;
  top: 500px;
  box-shadow: inset 2px 4px 100px #001D6E;
}

.grad2{
  width: 200px;
  height: 200px;
  right: -10%;
  top: 550px;

}

.grad3{
  width: 40px;
  height: 40px;
  left: 70%;
  top: 60px;
  bottom: 0%;
}

.star1{
  width: 24px;
  left: 6%;
  top: 150px;
}

.star2{
  width: 36px;
  right: 3%;
  top: 400px;
}

.star3, .star4, .star5 {
  opacity: .7;
}

}

@media screen and (max-width: 600px){
.grad2{
  width: 200px;
  height: 200px;
  right: -40%;
  top: 660px;

}
.grad3{
  width: 30px;
  height: 30px;
  left: 70%;
  top: 70px;
  bottom: 0%;
}
.grad1 {  
  width: 50px;
  height: 50px;
  left: -5%;
  top:420px;
  box-shadow: inset 2px 4px 100px #001D6E;
}
}
